@CHARSET "UTF-8";

/* --- ナビゲーションバー --- */
div.nav {
width: 180px; /* ナビゲーションの幅 */
font-size: 80%;
}

/* --- メニューエリア --- */
div.nav ul.nl {
margin: 0;
padding: 0;
border-top: 1px #c0c0c0 dotted; /* 最上部の境界線 */
list-style-type: none;
text-align: left;
}

/* --- メニュー項目 --- */
div.nav ul.nl li {
padding: 3px 1px; /* 項目のパディング（上下、左右） */
background-color: #f9f9f9; /* 項目の背景色 */
border-bottom: 1px #c0c0c0 dotted; /* 項目の下境界線 */
}

/* --- リンク --- */
div.nav ul.nl li a {
display: block;
position: relative; /* IE6用 */
padding: 8px 10px; /* リンクエリアのパディング（上下、左右） */
border-left: 4px #c0c0c0 solid; /* リンクエリアの左境界線 */
text-decoration: none; /* テキストの下線（なし） */
}
/* --- ポイント時の設定 --- */
div.nav ul.nl li a:hover {
border-left-color: #e0e0e0; /* ポイント時の左境界線色 */
}
